<div class="container text-center card bg-dark" style="color:white;padding:20px;margin-top:20px;border-radius:20px;">
    <h1 class="display-4">TODO APP</h1>
    <p class="lead">Organizes your tasks with a list that can make everything much more manageable and make you feel
        grounded.
        <br> The app lets enables you to keep temporary task or everyday's task under the same section.
    </p>
    <hr class="my-4">
    <p>You can easily line-through the task which is done on a daily basis.Temporary tasks can be deleted once done.
        Also the users can change the background color of Todos. </p>
    <hr>
    <p>The entire project has been built upon Angular Framework and does not require to eload the page evertime.

    </p>
    <br>
    <p>
        More on Angular CLI.
    </p>
    <br>
    <a class="btn btn-warning btn-lg" href="https://angular.io/cli" role="button">Angular CLI</a>
</div>